.header {
  margin: 0;
  width: 1440px;
  height: 265px;
  background-color: #512689;
  position: relative;
}

.header__wrapper {
  display: flex;
  flex-direction: column;

}

.header__title {
  margin: 0 auto;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 64px;
  color: #FFFFFF;
  max-width: 447px;
}

.header__subtitle {
  margin: 0 auto;
  max-width: 846px;
  padding-top: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFFFF;
}

.header__button {
  position: absolute;
  top: 32px;
  right: 80px;
  width: 81px;
  height: 38px;
  padding: 8px 16px;
  background-color: #512689;
  color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.header__button_back {
  top: 32px;
  left: 80px;
}
